@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-light: #ffffff;
  --primary-medium: #00df9a;
  --primary-dark: #0f0f0f;
}
